/* noUi Slider Overrides */

.noUi-value, .noUi-value-horizontal, .noUi-value-large {
    margin-top: 5px;
    width: 90%;
}

.noUi-horizontal {
    width: 75% !important;
    border: 1px solid var(--border);
}

.noUi-pips-horizontal {
    overflow: hidden;
    color: var(--border);
}

.noUi-target {
    width: 85%;
    margin: auto;
}

.noUi-connects {
    background: var(--container-fore);
}

.noUi-connect {
    background: #f2dc83 !important;
}

.noUi-handle {
    background: var(--container-highlight);
    border: 1px solid var(--border);
}

#timeline_info {
    margin: 10px 0;
}

/* Slider disabled state */

 [disabled = "true"] .noUi-connect {
    background: var(--container-disabled) !important;
 }
 [disabled = "true"] .noUi-connects {
    background: var(--container-shadow) !important;
 }
 [disabled = "true"] .noUi-target,
 [disabled = "true"] .noUi-handle,
 [disabled = "true"] .noUi-handle {
    cursor: not-allowed;
 }

 [disabled = "true"] .noUi-pips,
 [disabled = "true"] .noUi-pips-horizontal {
    opacity: 50%;
 }

/* Leaflet Overrides */
.leaflet-container {
    font-family: 'Montserrat', sans-serif !important;
}