/* Front Screen */

#in-progress {
    margin: auto;
    margin-top: 1vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: darkred;  
}

#dummy-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    flex-basis: space-around;
    /* margin: auto;
    margin-top: max(calc(70vh - 25vh), calc(70vh - 25vw)); */
    /* height: 100vh; */
    perspective: 100%;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
}

#record-container {
    /* height: 100vh; */
    height: fit-content;
    width: fit-content;
    margin: 0;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 1.8fr min(70vh, 70vw) 1.8fr minmax(0, 1fr);
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    /* margin-bottom: 5%; */
    /* grid-row-start: 2;
    grid-column-start: 1; */
    /* margin-top: 35%; */
}

#jacket-front, #jacket-back {
    aspect-ratio: 1/1;
    height: 70vh;
    max-height: 70vw;
    background-size: cover;
    border-radius: 3px;
    transition: transform 1s;
    grid-row-start: 1;
    grid-column-start: 3;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    z-index: 1;
    position: relative;
    transform: rotateY(180deg) translateZ(1px);
    -webkit-transform: translateZ(1px);
}

#jacket-front {
    background-image: url("../images/touch-grass-front.jpg");
    border: 1px solid hsla(52, 81%, 80%, 100%);
    color: black;
}

#jacket-back {
    color: white;
    transform: rotateY(180deg) translateZ(1px);
    -webkit-transform: rotateY(180deg) translateZ(1px);
}

.back-slider {
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    z-index: -1;
}

#jacket-back-slider {
    background-image: url("../images/touch-grass-back.jpg");
    border: 1px solid hsla(52, 81%, 80%, 100%);
}

#vinyl-front, #vinyl-back {
    aspect-ratio: 1/1;
    height: 70vh;
    max-height: 70vw;
    background-size: cover;
    z-index: -2;
    transition: transform 1s;
    transform-style: preserve-3d;
    grid-row-start: 1;
    grid-column-start: 3;
    position: absolute;
    margin-left: 10%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    color: black;
}

#vinyl-back {
    color: white;
    transform: rotateY(180deg) translateZ(1px);
    -webkit-transform: rotateY(180deg) translateZ(1px);
}

#vinyl-back-slider {
    background-image: url("../images/touchgrass-vinyl-side2.png");
}

#vinyl-front {
    background-image: url("../images/touchgrass-vinyl-side1.png");
    color: black;
}


#jacket-thickness {
    background-color: #faf4cf;
    background-image: -webkit-linear-gradient( 	hsla(52, 81%, 80%, 100%), hsl(52, 81%, 40%, 100%));
    bottom: 0;
    left: -.5vh;
    position: absolute;
    top: 0px;
    /* border-style: solid;
    border: 1px; */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: .5vh;
    z-index: -3;
    transition: 1s;
    transform-origin: 100% 50%;
    transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
    border-radius: 1px;
    grid-column-start: 3;
    grid-row-start: 1;
    }

    #rotate-icon {
    background-image: url("../images/rotateicon.png");
    filter: drop-shadow(0px 0px 10px var(--container-shadow));
    background-size: cover;
    height: 12vh;
    max-height: 12vw;
    width: 12vh;
    max-width: 12vw;
    margin-top: 1em;
    cursor: pointer;
}

    /* Front Screen Animations and Transitions */

    #record-container:hover #vinyl-front, #record-container.hovering #vinyl-front {
        transform: translateX(18%);
        -webkit-transform: translateX(18%);
    }

    #record-container:hover #jacket-front, #record-container.hovering #jacket-front {
        transform: translateX(-25%);
        -webkit-transform: translateX(-25%)
    }

    #record-container:hover #jacket-back-slider, #record-container.hovering #jacket-back-slider {
        transform: translateX(25%);
        -webkit-transform: translateX(25%);
    }

    #record-container:hover #vinyl-back-slider, #record-container.hovering #vinyl-back-slider{
        transform: translateX(-18%);
        -webkit-transform: translateX(-18%);
    }

    #record-container:hover #jacket-thickness, #record-container.hovering #jacket-thickness {
        transition: 0s;
        opacity: 0;
    }

    .translatevinyl {
        transition: transform .5s !important;
        transform: translateX(-10%);
        -webkit-transform: translateX(-10%);
    }

    .translatevinyl-reverse {
        transition: transform .5s !important;
        transform: translateX(10%);
        -webkit-transform: translateX(10%);
    }

    .translatejacket {
        transition: transform .5s !important;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }

/* Open Vinyl/Sleeve Page */

#open-record-wrapper {
    display: none;
}

#open-record-container {
    height: 100vh;
    max-height: 80vw;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#sleeve {
    height: 100%;
    /* max-height: 80vw; */
    /* min-height: min(calc(80vh - 100px), calc(80vw - 100px)); */
    /* min-width: min(calc(80vh - 100px), calc(80vw - 100px)); */
    transition: transform 1s;
    background-image: url("../images/sleeve/sleeve-background.png");
    background-size: cover;
    position: relative;
    border-style: solid;
    border: 1px;
    aspect-ratio: 1/1;
    border-radius: 1%;
}

#sleeve::before {    
    content: "";
    background-image: url("../images/sleeve/sleeve-texture.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}


#jacket-back-large.closed {
    transform: translateX(calc((100% + 10px) * -1));
    -webkit-transform: translateX((calc(100% + 10px) * -1));
}

#jacket-front-large.closed {
    transform: translateX(calc(100% + 10px));
    -webkit-transform: translateX(calc(100% + 10px));
}

.sleevetext {
    transition: transform 1s;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex; 
    width: 30%;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity .35s;
    -moz-transition: opacity .35s;
    -ms-transition: opacity .35s;
    -o-transition: opacity .35s;
    transition: opacity .35s;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;  
}

#critterscan {
    width: 70%;
    height: 60%;
    position: absolute;
    bottom: 5%;
    right: 0%;
    opacity: 20%;
  }

#rockscan {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 5%;
    left: 5%;
    opacity: 10%;
  }

#lyrics-wrapper {
    height: 100%;
    overflow: hidden;
    margin-bottom: 1em;
    overflow-y: scroll;
    z-index: 2;
    font-size: 1em;
}

.notselected {
    opacity: 0.15;
    -webkit-transition: opacity .35s;
    -moz-transition: opacity .35s;
    -ms-transition: opacity .35s;
    -o-transition: opacity .35s;
    transition: opacity .35s;
}

.textpng {
    height: 100%;
    width: 100%;
}

#jacket-front-large {
    background-image: url("../images/touch-grass-front.jpg");
    background-size: cover;
    height: 100%;
    /* min-height: min(calc(80vh - 100px), calc(80vw - 100px)); */
    /* min-width: min(calc(80vh - 100px), calc(80vw - 100px)); */
    /* position: absolute; */
    /* max-height: 80vw; */
    border-style: solid;
    border: 1px;
    max-height: 80vw;
    aspect-ratio: 1/1;
    border-radius: 1%;
    /* right: calc(60vw + 70vh); */
    z-index: 2;
    transition: transform .5s;
    border: 1px solid hsla(52, 81%, 80%, 100%);
}

#jacket-back-large {
    background-image: url("../images/touch-grass-back.jpg");
    background-size: cover;
    height: 100%;
    /* position: absolute; */
    border-style: solid;
    border: 1px;
    /* max-height: 80vw; */
    /* min-height: min(calc(80vh - 100px), calc(80vw - 100px)); */
    /* min-width: min(calc(80vh - 100px), calc(80vw - 100px)); */
    aspect-ratio: 1/1;
    border-radius: 1%;
    transition: transform .5s; 
    /* left: calc(60vw + 70vh); */
    z-index: -5;
    border: 1px solid hsla(52, 81%, 80%, 100%);
}

#spacer {
    position: relative;
    height: 10vh;
    max-height: 10vw;
    width: 10vh;
    max-width: 10vw;
}

#vinyl-arrow, #vinyl-arrow-reverse {
    background-image: url("../images/trianglearrow-right.png");
    filter: drop-shadow(1px 1px 10px var(--container-shadow));
    background-size: cover;
    height: 10vh;
    max-height: 10vw;
    width: 10vh;
    max-width: 10vw;
    cursor: pointer;
}

#vinyl-arrow {
    margin-left: 10%;
    z-index: -4;
    grid-row-start: 1;
    grid-column-start: 5;
    margin: auto;
    padding-left: 5%;
}

#vinyl-arrow-reverse {
    margin: auto;
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
    margin-top: 1em;
}

#goback-arrow {
    cursor: pointer;
    background-image: url("../images/rotateicon.png");
    filter: drop-shadow(0px 0px 10px var(--container-shadow));
    background-size: cover;
    height: 8vh;
    max-height: 8vw;
    width: 8vh;
    max-width: 8vw;
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 0;
    display: none;
}

#singlelyrics-text {
    text-align: center;
    vertical-align: middle;
    font-size: min(2vh, 2vw);
    height: 100%;
    align-items: center;
    display: none;
}

#bandcamp-player {
    width: 100%;
    margin: auto;
    margin-top: 8px;
    z-index: 2;
    border: 0;
}

#text1 {
    background-size: cover;
    left: 3%;
    right: 67%;
    top: 3%;
}

#text2 {
    background-size: cover;
    left: 3%;
    right: 67%;
    bottom: 3%;
}

#text3 {
    background-size: cover;
    left: 35%;
    right:35%;
    width: 30%;
    top: 3%;
}

#text4 {
    background-size: cover;
    left: 35%;
    right: 35%;
    bottom: 3%;
}

#text5 {
    background-size: cover;
    left: 67%;
    right: 3%;
    top: 3%;
}

#text6 {
    background-size: cover;
    left: 67%;
    right: 3%;
    top: 17%;
    bottom:16.666666%;
}

#text7 {
    background-size: cover;
    left: 67%;
    right: 3%;
    bottom: 3%;
}

    /* Sleeve Page Animations and Transitions */

    /* .textpng:hover, .textpng.hovering{
        opacity: 1;
        -webkit-transition: opacity .35s;
        -moz-transition: opacity .35s;
        -ms-transition: opacity .35s;
        -o-transition: opacity .35s;
        transition: opacity .35s;
    } */

    .fadeout {
        animation: fadeout 1s 1 linear forwards;
    }
    
    @keyframes fadeout {
        0% {opacity: 1; }
        100% {opacity: 0; }
        }
        
    @-webkit-keyframes fadeout {
        0% { opacity: 1; }
        100% { opacity: 0; }
    }
    
    .fadein {
        animation: fadein 1s 1 linear forwards;
    }
    
    @keyframes fadein {
        0% {opacity: 0; }
        100% {opacity: 1; }
        }
        
    @-webkit-keyframes fadein {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    /* #vinyl-arrow-reverse:hover + #big-vinyl {
        left: calc(50% - (70vh - 50px));
    }
    
    #vinyl-arrow-reverse:hover ~ #jacket-front-large {
        right: calc(50% - (70vh - 50px));
    } */

    .isrotating {
        animation-name: rotating;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .icon:hover, .icon.hovering{
        filter: brightness(50%);
        -webkit-filter: brightness(50%);
    }

    @-moz-keyframes rotating {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(360deg); }
    }
    @-webkit-keyframes rotating {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }
    @keyframes rotating {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
    }


/* WebGL CSS */

#threeRecord {
    position: relative; 
    margin: auto;
    outline: none;
    display: none;

}

#three-button {
    margin-top: 50px;
    margin-bottom: 50px;
}
/*
Z-INDEX REFERENCE CHART
    big-vinyl: -5
    vinyl-arrow: -4
    jacket-thickness: -3
    vinyl-front: -2
    back-slider: -1
    goback-arrow: 0
    jacket-front/back: 1
    jacket-front-large: 2
*/