/* CSS for weatherblanketblanket app */

#heatblanket {
    height: 80vh;
    width: 80vw;
    margin: auto;
    margin-top: 5vh;
    position: relative;
}

#temp-key:after {
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: url("../images/simple-texture.png");
    background-size: auto;
}

#texturebox {
    width: 100%;
    height: 100%;
    background-image: url("../images/simple-texture.png");
    background-size: contain;
    position: relative;
    transition: 1s;
    display: flex;
}

#blankets {
    transition: 1s ease;
    width: 80vw;
    margin: auto;
}

.blanket-column {
    height: 100%;
    float: left;
    z-index:-1;
    position: relative;
    min-height: 1px;
    display: flex;
    flex: 1;
}

.blanket-key {
    width: 2.5vw;
    position: absolute;
    transition: 1s;
    opacity: 15%;
    left: 0;
}

#temp-key {
    height: 80vh;
    background-image: linear-gradient(0deg, #2c48b8, #429bd6 6.67%, #6bbcd1 13.33%, #9ad0db 20%, #bddbd5 26.67%, #fff2ce 33.33%, #f3b938 40%, #ffa42e 46.67%, #fd9415 53.33%, #eb6f02 60%, #eb6702 66.67%, #d95700 73.33%, #962101 80%, #480300 86.67%, #080000);
}

#precip-key {
    height: 40vh;
    background-color: #2c48b8;
    top: 80vh;
    border-bottom-left-radius: 2.5vw;
    border-bottom-right-radius: 2.5vw;
}

.temptics, .preciptics {
    position: absolute;
    width: 1vw;
    left: 0;
    transition: 1s;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 20%;
    transition: 1s;
}

#temp-degrees-box{
    position: absolute;
    opacity: 0%;
    transition: 1s;
    height: 100%;
    text-align: right;
    margin-top: 8px;
}

#precip-mm-box{
    position: absolute;
    opacity: 0%;
    transition: 1s;
    top: 80vh;
    height: 40vh;
    text-align: right;
    margin-top: -24px;
}

.units {
    position: absolute;
    margin: 0;
    font-size: 14px;
    text-align: left;
    width: 50px;
}

#deg0 {
    bottom: 0%;
}
#deg1 {
    bottom: calc(100%/7)
}
#deg2 {
    bottom: calc(200%/7)
}
#deg3 {
    bottom: calc(300%/7)
}
#deg4 {
    bottom: calc(400%/7)
}
#deg5 {
    bottom: calc(500%/7)
}
#deg6 {
    bottom: calc(600%/7)
}
#deg7 {
    top:-16px;
}

#tic0 {
    bottom: 0;
}

#tic1 {
    bottom: calc(100%/14)
}
#tic2 {
    bottom: calc(200%/14)
}
#tic3 {
    bottom: calc(300%/14)
}
#tic4 {
    bottom: calc(400%/14)
}
#tic5 {
    bottom: calc(500%/14)
}
#tic6 {
    bottom: calc(600%/14)
}
#tic7 {
    bottom: calc(700%/14)
}
#tic8 {
    bottom: calc(800%/14)
}
#tic9 {
    bottom: calc(900%/14)
}
#tic10 {
    bottom: calc(1000%/14)
}
#tic11 {
    bottom: calc(1100%/14)
}
#tic12 {
    bottom: calc(1200%/14)
}
#tic13 {
    bottom: calc(1300%/14)
}
#tic14 {
    top: 0%;
}


#precip-tic25 {
    top: calc(80vh + calc(40vh * .25));
}
#precip-tic50 {
    top: calc(80vh + calc(40vh * .5));
}
#precip-tic75 {
    top: calc(80vh + calc(40vh * .75));
}
#precip-tic100 {
    top: 120vh;
}

#keybox {
    position: absolute;
    width: 10vw;
    height: 80vh;
    left: 0;
}

#key-icon {
    background-image: url("../images/key.png");
    background-size: cover;
    height: 8vw;
    max-height: max(10vh, 4vw);
    min-height: 5vh;
    aspect-ratio: 5/8;
    position: absolute;
    top: calc(50% - min(2.5vw, 4vw));
    cursor: pointer;
    z-index: -40;
    opacity: 70%;
    left: 2.5vw;
    transition: 1s;
}

#keybox:hover > .blanket-key{
    width: 5vw;
    opacity: 100%;
}

#keybox:hover .preciptics {
    width: 95vw;
}

#temp-tic-box {
    width: 5vw;
    height: 100%;
    position: absolute;
}

#keybox:hover #key-icon {
    opacity: 0%;
}

#keybox:hover ~ #blankets {
    transform: translateX(9vw);
}

#keybox:hover #temp-degrees-box, #keybox:hover #precip-mm-box {
    transform: translateX(calc(6.5vw + 5px));
    opacity: 100%;
}

#keybox:hover .temptics, #keybox:hover .preciptics {
    transform: translateX(5vw);
}

#rainblanket {
    height:40vh;
    width: 80vw;
    margin:auto;
    margin-bottom: 20px;
    position: relative;
}

#rainbox {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
}

#blankettext {
    position: absolute;
    z-index: -2;
    width: 80%;
    margin: auto;
    padding-top: 3%;
    font-size: min(2vh, 3vw);
    height: 35vh;
    left: 10%;
    transition: 1s;
  }

.tooltip {
    width: fit-content;
    height: fit-content;
    padding: 15px;
    background-color: beige;
    white-space: nowrap;
    font-family: 'montserrat'
}

.tooltip-header {
    font-size: 20px;
    font-weight: bold;
    margin-top: -3px;
}

#threeBlanket {
    position: relative; 
    margin: auto;
    margin-top: 5vh;
    outline: none;
    display: none;
    width: 90vw;
    height: 100vh;

}

#threeBtn {
    margin-top: 50px;
    margin-bottom: 50px;
}