body {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}

a {
    color: green;
}

.middlebox {
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 5px;
    color: green;
}

.tinytext {
    font-size: 1;
    animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
