
#jacket_front, #jacket_back {
    aspect-ratio: 1/1;
    height: 50vh;
    max-height: 50vw;
    background-size: cover;
    border-radius: 3px;
    transition: transform 2s;
    grid-row-start: 1;
    grid-column-start: 3;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    z-index: -10;
}

#jacket_front {
    background-image: url("../images/olly-olly.jpg");
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    color: black;
}

#jacket_back {
    color: white;
    transform: rotateY(180deg);
}

#back_slider {
    background-image: url("../images/finch.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: transform 2s;
}

#record_container:hover > #jacket_front {
    transform: translateX(-25%);
}

#record_container:hover #back_slider {
    transform: translateX(25%);
}

#record_container:hover > #vinyl_front {
    transform: translateX(18%);
}

#record_container {
    /* height: 100vh; */
    height: fit-content;
    width: fit-content;
    margin: auto;
    display: grid;
    grid-template-rows: auto 1fr; /* NEW */
    grid-template-columns: .5fr .5fr 1fr .5fr .5fr;
    transition: transform 3s;
    transform-style: preserve-3d;
    margin-bottom: 5%;
    /* grid-row-start: 2;
    grid-column-start: 1; */
    /* margin-top: 35%; */
}

#vinyl_front {
    aspect-ratio: 1/1;
    height: 50vh;
    max-height: 50vw;
    background-image: url("../images/templp.png");
    background-size: cover;
    right: 0;
    z-index: -200;
    transition: transform 2s;
    grid-row-start: 1;
    grid-column-start: 3;
    margin-left: 10%;
}

#jacket_thickness {
    background-color: #1c1c1c;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.25), hsla(0,0%,0%,.25));
    bottom: 0;
    left: -.5vh;
    position: absolute;
    top: 0px;
    border-style: solid;
    border: 1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: .5vh;
    z-index: -10;
    transition: 3s;
    transform-origin: 100% 50%;
    transform: rotateY(-90deg);
    border-radius: 1px;
    grid-column-start: 3;
    grid-row-start: 1;
  }

.animatelp { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* margin-left: 30px;
    margin-top: 5px; */
}

.translatevinyl {
    transition: transform .5s !important;
    transform: translateX(-10%);
}
 
@keyframes floating {
    0% { transform: translatey(0px); }
    50%  { transform: translatey(5px); }
    100%   { transform: translatey(0px); }   
}

#sleeve {
    height: 85vh;
    position: relative;
    border-style: solid;
    border: 1px;
    max-height: 85vw;
    aspect-ratio: 1/1;
    border-radius: 1%;
    transition: transform 2s;
    margin: auto;
    margin-top: 30px;
}

#sleeve::before {    
    content: "";
    background-image: url("../images/sleeve_texture.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

.fadeout {
    animation: fadeout 1s 1 linear forwards;
}

@keyframes fadeout {
    0% {opacity: 1; }
    100% {opacity: 0; }
  }
  
@-webkit-keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.fadein {
    animation: fadein 1s 1 linear forwards;
}

@keyframes fadein {
    0% {opacity: 0; }
    100% {opacity: 1; }
  }
  
@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#rotate_icon {
    background-image: url("../images/rotateicon.png");
    background-size: cover;
    height: 12vh;
    max-height: 12vw;
    width: 12vh;
    max-width: 12vw;
    margin: auto;
}

#vinyl_arrow {
    /* position: absolute; */
    background-image: url("../images/trianglearrow_right.png");
    background-size: cover;
    height: 10vh;
    max-height: 10vw;
    width: 10vh;
    max-width: 10vw;
    margin-left: 10%;
    z-index: -201;
    grid-row-start: 1;
    grid-column-start: 5;
    margin: auto;
    padding-left: 5%;
}

#dummy_container {
    /* display: grid;
    justify-content: center; */
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 21vh;
    max-width: 150vh;
    perspective: 100%;
    /* grid-template-rows: .5fr 1fr .5fr; */
}

#icons {
    position: absolute;
    margin: auto;
}

/* Temporarily abandoned record playing icon */

#playing_vinyl {
    position: absolute;
    background-image: url("../images/templp.png");
    background-size: cover;
    height: 85vh;
    position: absolute;
    border-style: solid;
    border: 1px;
    max-height: 85vw;
    aspect-ratio: 1/1;
    border-radius: 1%;
    animation-name: rotating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: 30px;
    box-shadow: 1, 1, 1;
    left: calc(100vw - (50vw - 50vh));
    margin-left: 10vw;
}

#sleeve_box {
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: none;
    opacity: 0;
}

@-moz-keyframes rotating {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes rotating {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes rotating {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#critter {
    width: 50%;
    height: 60%;
    padding-bottom: -20px;
    background-image: url("../stranger.png");
    background-size: cover;
}

#temptext {
    color: darkgrey;
    text-decoration: bold;
    font-size: 5vh;
}

#jacket_front_large {
    background-image: url("../images/olly-olly.jpg");
    background-size: cover;
    height: 85vh;
    position: absolute;
    border-style: solid;
    border: 1px;
    max-height: 85vw;
    aspect-ratio: 1/1;
    border-radius: 1%;
    transition: transform 2s;
    margin-top: 30px;
    box-shadow: 1, 1, 1;
    right: calc(100vw - (50vw - 50vh));
    margin-right: 10vw;
}