
/* main css for website */

    @viewport {
        width: device-width ;
        zoom: 1.0 ;
    }

    html {
        font-family: 'Montserrat', sans-serif;
        background-color: #f7f6f2;
    }

    body {
        text-align: center;
    }

    .centered {
        margin: 0 auto;
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
        top: 50%;
        height: 100%;
        /* width: 75%; */
    }

    #titlebox {
        font-size: 25px;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    #textbox {
        font-size: 14px;
        padding-top: 30px;
    }

    #mybutton {
        margin-top: 10px;
        margin-bottom: 50px;
        font-family: 'Montserrat', sans-serif;
        background-color: #f1f0ec;
        border-radius: 5px;
        width: 60px;
    }

    #more {
        display: none;
    }


/* noUi Slider Overrides */

    .noUi-value, .noUi-value-horizontal, .noUi-value-large {
        margin-top: 5px;
        width: 90%;
    }

    .noUi-horizontal {
        width: 75% !important;
    }

    .noUi-pips-horizontal {
        overflow: hidden;
    }

    .noUi-target {
        width: 85%;
        margin: auto;
    }

    .noUi-connects {
        background: #fffcf2;
    }

    .noUi-connect {
        background: #f2dc83 !important;
    }

    #timeline_info {
        margin-top: 10px;
        margin-bottom: 10px;

    }


/* Slider disabled state */

     [disabled = "true"] .noUi-connect {
        background: #eaeaea !important;
     }
     [disabled = "true"] .noUi-connects {
        background: #f7f7f7 !important;
     }
     [disabled = "true"] .noUi-target,
     [disabled = "true"] .noUi-handle,
     [disabled = "true"] .noUi-handle {
        cursor: not-allowed;
     }

     [disabled = "true"] .noUi-pips,
     [disabled = "true"] .noUi-pips-horizontal {
        opacity: 50%;
     }

/* Leaflet Overrides */
    .leaflet-container {
        font-family: 'Montserrat', sans-serif !important;
    }