{% extends "layout.html" %}

{% block title %}

    select discography

{% endblock title %}

{% block main %}

    <div class="centered">

        <div id="titlebox" style="padding-bottom: 0px;">Select Discography</div>
        <div id="textbox">Producer (P) <br>
                          Engineer (E) <br>
                          Mixer (M) <br>
                          Composer (C) <br>
                          Performer (PE) <br>
                          <p>Here are a few of the musical projects I've been a part of:</p></div>

        <div id="discography">
            
            <script>

                var discographydata = {{ discographydata|tojson|safe }};
                var disccount = {{ disccount }};

                for(let i = 1; i < disccount; i++){
                    newdiv = document.createElement('a');
                    // Give newdiv link
                    newdiv.setAttribute('href', `${discographydata[i][5]}`)
                    // Name newdivs in order for css needs
                    divIDName = 'album'+i;
                    newdiv.setAttribute('id', divIDName);
                    newdiv.setAttribute('class', 'album');
                    // Include album image
                    const albumart = document.createElement('img');
                    albumart.setAttribute('class', 'albumart');
                    albumart.setAttribute('name', `${discographydata[i][3]}`);
                    albumart.src  = `static/images/${discographydata[i][3]}`;
                    albumart.style.height = '15vw';
                    // Attach descriptions in hover object
                    const albumdescription = document.createElement('p');
                    albumdescription.setAttribute('class', 'albumdescription');
                    albumdescription.innerHTML = `${discographydata[i][1]}</br>${discographydata[i][2]}</br>${discographydata[i][4]}`;
                    newdiv.appendChild(albumart);
                    newdiv.appendChild(albumdescription);
                    document.getElementById("discography").appendChild(newdiv);
                }

            </script>

        </div>

    </div>

{% endblock main %}

{% block footer %}
    <a href="https://www.mitchwebb.me/">home</a>
    |
{% endblock footer %}