{% extends "layout.html" %}

{% block title %}
    feeling warm
{% endblock title %}

{% block head %}
{% endblock head %}

{% block body %}
<script src="{{ url_for('static', filename='js/colorscale.js') }}"></script>

    <div id="heatblanket">
        
        <div id="texturebox">

            <script type="text/javascript">

                var daynum = {{daynum}};
                var fulltable = {{fulltable|tojson|safe}};
                var columnwidth = ((.90*(window.innerWidth))/(daynum)) + 'px';

                for(let i = 0; i < daynum; i++){
                    newdiv = document.createElement('div');
                    divIDName = 'day'+i;
                    newdiv.setAttribute('id', divIDName);
                    newdiv.setAttribute('class', 'blanketcolumn');
                    newdiv.setAttribute('align', 'left');
                    hitemp = fulltable[i][1];
                    lotemp = fulltable[i][2];
                    hicolor = heatcolorScale(hitemp);
                    locolor = heatcolorScale(lotemp);
                    newdiv.style.backgroundImage = `linear-gradient(${hicolor}, ${locolor})`;
                    newdiv.style.width = columnwidth;
                    document.getElementById("texturebox").appendChild(newdiv);
                }

            </script>

        </div>

    </div>

    <div id="rainblanket">
        
        <div id="rainbox">

            <script type="text/javascript">

                // Variable of the half-width of each column, used for rounding corners
                var halfwidth = ((.90*(window.innerWidth))/(daynum * 2)) + 'px';

                for(let i = 0; i < daynum; i++){
                    newdiv = document.createElement('div');
                    divIDName = 'day'+i;
                    newdiv.setAttribute('id', divIDName);
                    newdiv.setAttribute('class', 'blanketcolumn');
                    newdiv.setAttribute('align', 'left');
                    rain = fulltable[i][4];
                    rain_coef = raincolorScale(rain);
                    lotemp = fulltable[i][2];
                    locolor = heatcolorScale(lotemp);
                    newdiv.style.width = columnwidth;
                    newdiv.style.backgroundImage = `linear-gradient(${locolor}, #429bd6)`;

                    // Create invisible divs or drips of representative length
                    if (rain_coef == 0){
                        newdiv.style.height = '1px';
                        newdiv.style.opacity = '0%'
                    }
                    else {
                        newdiv.style.height = (rain_coef * 400) + '%';
                    }

                    // Round bottom ends of drips
                    if (rain_coef !== 0){
                        newdiv.style.borderBottomLeftRadius = halfwidth;
                        newdiv.style.borderBottomRightRadius = halfwidth;
                    }

                    document.getElementById("rainbox").appendChild(newdiv);
                }
                
            </script>

        </div>

    </div>

    <div id="blankettext">This is an artistic representation of temperatures and precipitation levels in 
        Austin, TX during 2022. The visual will automatically add one column for each day of the year.
    </div>


    <!-- <div id="visiblanket">
        
        <div id="visibox">

            <script type="text/javascript">

                var newdiv;
                var divIDName;
                var visib;
                var visib_coef;
                var daynum = {{daynum}};
                var fulltable = {{fulltable|tojson|safe}};
                var i;

                for(let i = 0; i < daynum; i++){
                    newdiv = document.createElement('div');
                    divIDName = 'day'+i;
                    newdiv.setAttribute('id', divIDName);
                    newdiv.setAttribute('class', 'blanketcolumn');
                    newdiv.setAttribute('align', 'left');
                    visib = fulltable[i][3];
                    visib_coef = viscolorScale(visib);
                    newdiv.style.backgroundColor = '#C4C4C4' 
                    newdiv.style.opacity = visib_coef;
                    document.getElementById("visibox").appendChild(newdiv);
                }

            </script>

        </div>

    </div> -->

    <footer id="footers">
        <a href="https://www.mitchwebb.me">home</a>
        |
        <a href="https://www.mitchwebb.me/spottedlanternfly">spotted lanternfly</a>
        |
        <a href="https://www.mitchwebb.me/me">me</a>
        |
        <a href="https://www.mitchwebb.me/contact">contact</a>
    </footer>

{% endblock body %}