{% extends "layout.html" %}

{% block head %}

<!-- Greet that cute ol' user (hello) based on time of day -->
    <script>
        var currentTime = new Date().getHours();
        if (currentTime >= 6 && currentTime <=11){
            var greeting = "mornin'"
        }
        else if (currentTime > 11 && currentTime<=17){
            var greeting = "good afternoon"
        }
        else if (currentTime >17 && currentTime <= 21){
            var greeting = "evenin'"
        }
        else if (currentTime >21 && currentTime <=1){
            var greeting = "g'nite"
        }
        else {
            var greeting = "feeling sleepy"
        }
        document.title = greeting
    </script>

{% endblock head %}


{% block body %}

    <div class="centered">

        <div id="titlebox" style="font-size: 30px">Mitch Webb</div>

        <br>

        <img src="static/stranger.png" alt="Strange Creature Icon" style="width: 300px; margin-left: 50px; margin-right:50px;">
        
        <br>

    </div>

    <footer id="footers">
        <a href="https://www.mitchwebb.me/me">me</a>
        |
        <a href="https://www.mitchwebb.me/spottedlanternfly">spotted lanternfly</a>
        |
        <a href="https://www.mitchwebb.me/heatblanket">heatblanket</a>
        |
        <a href="https://www.mitchwebb.me/contact">contact</a>
    </footer>

{% endblock body %}