{% extends "layout.html" %}

{% block head %}

<!-- Title greeting based on time of day -->
    <script>
        var currentTime = new Date().getHours();
        if (currentTime >= 6 && currentTime <=11){
            var greeting = "mornin'"
        }
        else if (currentTime > 11 && currentTime<=17){
            var greeting = "good afternoon"
        }
        else if (currentTime >17 && currentTime <= 21){
            var greeting = "evenin'"
        }
        else if (currentTime >21 && currentTime <=1){
            var greeting = "g'nite"
        }
        else {
            var greeting = "feeling sleepy"
        }
        document.title = greeting
    </script>

{% endblock head %}


{% block body %}

    <div class="centered" style="75vh;">
        <div id="titlebox" style="font-size: 30px">Mitch Webb</div>
        <br>
        <img src="static/stranger.png" alt="Strange Creature Icon" style="width: 300px">
        <br>
        <div id="textbox" style="font-size: 18px">
            <a href="https://www.mitchwebb.me/me">me</a>
            |
            <a href="https://www.mitchwebb.me/spottedlanternfly">spotted lanternfly</a>
        </div>
    </div>

{% endblock body %}
t