{% extends "layout.html" %}

{% block title %}
    mihtmo
{% endblock %}

{% block main %}
        <h3>welcome to my website, it's good to see you</h3>
        <p>i'm still working on it, but this page isn't very high on my list</p>
        <br>

        <footer style="text-align: center;">
            <a class='links' href="https://www.mitchwebb.me">home</a>
            |
            <a class='links' href="https://www.mitchwebb.me/spottedlanternfly">spotted lanternfly</a>
        </footer>
{% endblock %}