{% extends "layout.html" %}

{% block title %}
    Mihtmo
{% endblock %}

{% block body %}
        <p>welcome to my website, it's good to see you</p>
        <br>
        <img src="static/stranger.png" alt="Strange Creature Icon"
            width="25%"
            height="auto">
        <br>
        
        <footer style="text-align: center;">   
            <a href="https://ide-a3d165d4a0df444481a20b49acf37850-8080.cs50.ws/index.html">index</a>
            |
            <a class='links' href="https://ide-a3d165d4a0df444481a20b49acf37850-8080.cs50.ws/webvinyl.html">webvinyl</a>
            |
            <a class='links' href="https://ide-a3d165d4a0df444481a20b49acf37850-8080.cs50.ws/spottedlanternfly.html">spotted lanternfly</a>
        </footer>
{% endblock %}