{% extends "layout.html" %}

{% block title %}

    coding projects

{% endblock title %}

{% block main %}

    <div class="centered">

        <div id="textbox"><p style="font-size: 20px; margin-bottom: 30px;"">Here are some coding projects I've been working on:</p></div>

        <a href="https://www.mitchwebb.me/spottedlanternfly"> 
            <figure id="lanternfly_project" class="project">
                <img class="project_photo" src="static/images/lanternfly_screenshot.jpg" alt="lanterfly project page" width="100%"> 
                <figcaption class="project_text">
                    <h3>Spotted Lanternfly</h3>
                    <p style="text-decoration: none;">An interactive map showing the spread of the spotted lanternfly across the continental US</p>
                </figcaption>
            </figure></a>
        <a href="https://www.mitchwebb.me/weatherblanket">
            <figure id="weatherblanket_project" class="project">
                <img class="project_photo" src="static/images/weatherblanket_screenshot.jpg" alt="weatherblanket project page" width="100%"> 
                <figcaption class="project_text"> 
                    <h3>Weatherblanket</h3>
                    <p style="text-decoration: none;">A colorful visual showing the relative daily temperature and precipitation in Austin, TX</p>
                </figcaption>
            </figure></a>

    </div>

{% endblock main %}

{% block footer %}{% endblock footer %}