{% extends "layout.html" %}

{% block title %}
    MitchWebb: Spotted Lanternfly
{% endblock %}

{% block main %}

    <body class="container">

        <h1>Spotted Lanternfly Observations</h1>

        <table style="margin-left: auto; margin-right:auto;">
            <tr>
                <th>Location</th>
                <th>Date Observed</th>
                <th>Dead/Alive</th>
            </tr>
            {{ observations }}
            {% for observation in observations %}
                <tr>
                </tr>
            {% endfor %}
        </table>

        <br>
        
        Seen a lanternfly? Don't put it somewhere useful! Report it directly to this offline, unmonitored webpage!
        <input type="text" id="sighting">
        <button id="submit">submit</button>
        <br>
    </body>

    <br>
    <footer class="small text-center text-muted">
        Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a>.
    </footer>

{% endblock %}