{% extends "layout.html" %}

{% block title %}
    spotted lanternfly
{% endblock %}

{% block main %}
        <script>

            document.addEventListener('DOMContentLoaded', function() {
                let submit = document.querySelector('input');
                submit.addEventListener('click', function() {
                    submit.style.backgroundColor = 'red';
                    document.querySelector('#tinytext').innerHTML = 'actually though, go report this somewhere else. maybe the inaturalist website.';
                    });
            });

        </script>
        
        <title>spotted lanternfly</title>

    <body class='container'>
        
        <h1>spotted lanternfly</h1>
        <h3 style='margin-bottom: 20px'>data points:</h3>
        <ul style='list-style: none; padding-left:0;'>
            <li>here is the first data point</li>
            <li>here is a second one</li>
            <li>some day these will be real data points, <br> but I don't know how to use flask yet</li>
        </ul>
        
        <br>
        
        seen a lanternfly? don't put it somewhere useful, report it directly to this offline, unmonitored webpage!
        <input type="text" id="sighting">
        <button id="submit">submit</button>
        
        <p id="tinytext"></p>
        
        <br>

    </body>

    <footer class="small text-center text-muted">
        Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a>.
    </footer>

{% endblock %}