<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
        <link href="styles.css" rel="stylesheet">
        
        <script>

            document.addEventListener('DOMContentLoaded', function() {
                let submit = document.querySelector('input');
                submit.addEventListener('click', function() {
                    submit.style.backgroundColor = 'red';
                    document.querySelector('#tinytext').innerHTML = 'actually though, go report this somewhere else. maybe the inaturalist website.';
                    });
            });

        </script>
        
        <title>spotted lanternfly</title>
    </head>
    <body class='container'>
        
        <h1>spotted lanternfly</h1>
        <h3 style='margin-bottom: 20px'>data points:</h3>
        <ul style='list-style: none; padding-left:0;'>
            <li>here is the first data point</li>
            <li>here is a second one</li>
            <li>some day these will be real data points, but I don't know how to use flask yet</li>
        </ul>
        
        <br>
        
        seen a lanternfly? don't put it somewhere useful, report it directly to this offline, unmonitored webpage!
        <input type="text" id="sighting">
        <button id="submit">submit</button>
        
        <p id="tinytext"></p>
        
        <br>
        
        <footer style="text-align: center;">
            <a href="https://ide-a3d165d4a0df444481a20b49acf37850-8080.cs50.ws/index.html">index</a>
            |
            <a href="https://ide-a3d165d4a0df444481a20b49acf37850-8080.cs50.ws/webvinyl.html">webvinyl</a>
            |
            <a href="https://ide-a3d165d4a0df444481a20b49acf37850-8080.cs50.ws/me.html">me</a>
        </footer>
    </body>
</html>