{% extends "layout.html" %}

{% block head %}

    <link href="/static/css/record_viewer.css" rel="stylesheet">

{% endblock head %}

{% block title %}

    go touch grass!

{% endblock title %}


{% block main %}

    <div class="centered" style="height: 100vh">
    
        <div id="dummy_container">

            <div id="record_container">
                <div id="jacket_front"></div>
                <div id="jacket_thickness"></div>
                <div id="jacket_back">
                    <div id="back_slider"></div>
                </div>
                <div id="vinyl_front"></div>
                <div id="vinyl_arrow" onclick="hideandshow()" style="cursor: pointer;"></div>
            </div>
        
        </div>

        <div id="rotate_icon" onclick="rotaterecord()" onmouseover="retractvinyl()" onmouseout="expandvinyl()" style="cursor: pointer;"></div>

        <div id="sleeve_box">
            <div id="jacket_front_large"></div>
            <div id="sleeve">
                <div id="temptext">
                    <div style="padding-top: 15%"><h2>TEMP</h2></div>
                    <div id="critter"></div>
                </div>
            </div>
            <div id="playing_vinyl" class="rotating"></div>
        </div>

    </div>

    <script>
        var record_container = document.getElementById("record_container");
        var rotate_icon = document.getElementById("rotate_icon");
        var vinyl_front = document.getElementById("vinyl_front");
        var jacket_thickness = document.getElementById("jacket_thickness");
        var jacket_front = document.getElementById("jacket_front");
        var jacket_back = document.getElementById("jacket_back");
        var dummy_container = document.getElementById("dummy_container");
        var back_slider = document.getElementById("back_slider");

        function hideandshow() {
            dummy_container.classList.add("fadeout");
            rotate_icon.classList.add("fadeout");
            vinyl_front.style.transform = "translateX(100vw)";
            jacket_front.style.transform = "translateX(-100vw)";
            jacket_thickness.style.transform = "translateX(-100vw)";
            back_slider.style.transform = "translateX(100vw)";
            setTimeout(function() { dummy_container.style.display = "none"; rotate_icon.style.display = "none"; }, 1000);
            sleeve_box = document.getElementById("sleeve_box");
            sleeve_box.style.display = "flex";
            setTimeout(function() { sleeve_box.style.display = "flex"; sleeve_box.classList.add("fadein"); }, 1000);
        }
        function retractvinyl() {
            vinyl_front.classList.add("translatevinyl");
        }
        function expandvinyl() {
            vinyl_front.classList.remove("translatevinyl");
        }

        function rotaterecord() {
            if (record_container.classList.contains("isrotated")) {
                record_container.style.transform = "rotateY(0deg)";
                record_container.classList.remove("isrotated");
                
            }
            else {
                record_container.style.transform = "rotateY(180deg)";
                record_container.classList.add("isrotated");
            }
        }
    </script>

{% endblock main %}
<!-- {% block footer %}{% endblock footer %} -->