{% extends "layout.html" %}

{% block title %}
    mihtmo
{% endblock title %}

{% block body %}

    <div class="centered">
        <h3>Hey, I'm Mitch</h3>
        <div id="about-me" class="textbox">
            <p>
                I'm a multi-disciplined web developer and audio engineer. 
                I've been based out of Austin since graduating from UT in 2017.
            </p>
            <p>
                I've played many roles within the music industry throughout my 
                career: producer, mixing engineer, studio engineer, composer, 
                editor, musician, etc. I've worked with artists from across the 
                US, as well as internationally. I'm proud to have developed the 
                strange kind of personality it takes to maintain an eye for detail 
                as an editor and engineer while preserving the emotional
                flexibility needed to cultivate a creative environment.
            </p>
            <p>
                In the last several years, I've switched my professional focus to 
                the intersection of ecology and data visualization. I recently held
                a role as an Engineering Scientist Associate at the University of Texas' 
                Applied Research Laboratories, where I operated as the sole full-stack 
                developer on a team of developers in the Environmental Sciences 
                Laboratory. I spend my professional time making visualization tools—
                often in the React framework—and focus my free time on small, 
                ecologically based data visualization projects⁠—check out my
                <a href="/sound-explorer">Sound Explorer</a> 
                project for an example.
            </p>
            <p>
                This website is built on a Flask backend and doesn't use any 
                additional frontend framework (except for that Sound Explorer 
                page, which uses React). I very much enjoy working in React,
                but I also enjoy the sort of personal problem-solving that comes 
                from a more basic website. I'm a huge fan of intentionally simplistic 
                layouts, and I hope this website reflects that as a whole.
            </p>
            <p>
                I'm currently working as a volunteer researcher at the UT Austin
                Biodiversity Center, specifically in the Entomology Collection.
                I'm also actively seeking a role that will utilize my 
                multidisciplinary skills while developing my abilities in the 
                data world.
            </p>
            <p>
                If you have any ideas or if you'd just like to chat, 
                <a href="/contact">send me a message.</a>
            </p>
            <br/>
            <p class="centered">
                ~ thank you for visiting ~
            </p>
        </div>
    </div>

{% endblock body %}

{% block footer %}
<a href="/">home</a>
|
{% endblock footer %}