{% extends "layout.html" %}

{% block title %}
    send me a message
{% endblock title %}

{% block head %}
{% endblock head %}

{% block main %}

<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTrn-rqr-l36GCwdVWHfUFh8DBg6yhR_9L5lTnt_gyUkve6f-eOiDKKTIT8fkCSA-5ELEW9Sa-By17G/embed?start=false&loop=false&delayms=3000&rm=minimal" frameborder="0" width="1440" height="839" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

{% endblock main %}

{% block footer %}
<a href="/">home</a>
|
{% endblock footer %}