{% extends "layout.html" %}

{% block title %}

    coding projects

{% endblock title %}

{% block body %}

    <div class="centered">

        <div id="titlebox" class="textbox">
            <h3 class="section-title">Visualization Projects:</h3>
        </div>

        <div id="projects-container">
            <a href="/sound-explorer" target=”_blank”>
                <figure id="sound-explorer-project" class="project">
                    <figcaption class="project-header"> 
                        <h3>Sound Explorer</h3>
                    <figcaption/>
                    <div class="project-wrapper">
                        <img 
                            class="project-photo" 
                            src="{{ url_for('static', filename='./images/sound-explorer-project.png') }}" 
                            alt="sound explorer project page" 
                            width="100%"
                        > 
                        <p class="project-description">
                            an educational audio tool built in React to showcase
                            the orchestration of the natural world.
                        </p>
                    </div>
                </figure>
            </a>
            <a href="/spottedlanternfly"> 
                <figure id="lanternfly-project" class="project">
                    <figcaption class="project-header">
                        <h3>Spotted Lanternfly</h3>
                    </figcaption>
                    <div class="project-wrapper">
                        <img 
                            class="project-photo" 
                            src="{{ url_for('static', filename='./images/lanternfly-screenshot.jpg') }}" 
                            alt="lanternfly project page" 
                            width="100%"
                        > 
                        <p class="project-description">
                            an interactive map showing the spread of the spotted 
                            lanternfly across the U.S.
                        </p>
                    </div>
                </figure>
            </a>
            <a href="/weatherblanket">
                <figure id="weatherblanket-project" class="project">
                    <figcaption class="project-header"> 
                        <h3>Weatherblanket</h3>
                    </figcaption>
                    <div class="project-wrapper">
                        <img 
                            class="project-photo" 
                            src="{{ url_for('static', filename='./images/weatherblanket-screenshot.jpg') }}" 
                            alt="weatherblanket project page" 
                            width="100%"
                        > 
                        <p class="project-description">
                            a colorful visual showing daily temperature and 
                            precipitation levels for the past year in Austin, TX 
                        </p>
                    </div>
                </figure>
            </a>
            <a href="/touchgrass">
                <figure id="recordviewer-project" class="project">
                    <figcaption class="project-header"> 
                        <h3>Record Viewer</h3>
                    </figcaption>
                    <div class="project-wrapper">
                        <img 
                            class="project-photo" 
                            src="{{ url_for('static', filename='./images/record-viewer-screenshot.png') }}" 
                            alt="record viewer project page" 
                            width="100%"
                        > 
                        <p class="project-description">
                            an in-progress music-listening space which showcases 
                            album design and liner notes
                        </p>
                    </div>
                </figure>
            </a>    
            <a href="/discography">
                <figure id="discography-project" class="project">
                    <figcaption class="project-header"> 
                        <h3>Discography</h3>
                    <figcaption/>
                    <div class="project-wrapper">
                        <img 
                            class="project-photo" 
                            src="{{ url_for('static', filename='./images/discography-project.png') }}" 
                            alt="discography project page" 
                            width="100%"
                        > 
                        <p class="project-description">
                            a display for studio albums I've worked on, coded to 
                            pull its contents from a CSV
                        </p>
                    </div>
                </figure>
            </a>
        </div>
    </div>

{% endblock body %}

{% block footer %}
    <a href="/">home</a>
    |
{% endblock footer %}