<!DOCTYPE html>
    <html data-theme='light' lang="en">
        <head>
            <link 
                href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" 
                rel="stylesheet"
            > 
            <!-- Grab css build files created with npm run build -->
            <link rel="stylesheet" href="{{ url_for('static', filename='/sound-explorer/static/css/main.4cb45f53.css') }}" />
            <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/sound-explorer/static/css/main.4cb45f53.css.map') }}" /> -->
        </head>
        <body>
            <!-- This is where the react-app mounts -->
            <div id="root">
            </div>
            <!-- Grab js build files create with npm run build -->
            <script src="{{ url_for('static', filename='/sound-explorer/static/js/787.5713ed2d.chunk.js') }}"></script>
            <!-- <script src="{{ url_for('static', filename='/sound-explorer/static/js/787.5713ed2d.chunk.js.map') }}"></script> -->
            <script src="{{ url_for('static', filename='/sound-explorer/static/js/main.4330c968.js') }}"></script>
            <!-- <script src="{{ url_for('static', filename='/sound-explorer/static/js/main.78e0a3fe.js.map') }}"></script> -->
        </body>
    </html>