<!DOCTYPE html>

<html data-theme='light' lang="en">
    <head>
        <!-- Grab css build files created with npm run build -->
        <link rel="stylesheet" href="{{ url_for('static', filename='/sound-explorer/static/css/main.c748668d.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='/sound-explorer/static/css/main.c748668d.css.map') }}" />
    </head>
    <body>
        <!-- This is where the react-app mounts -->
        <div id="root">
        </div>
        <!-- Grab js build files create with npm run build -->
        <script src="{{ url_for('static', filename='/sound-explorer/static/js/787.5713ed2d.chunk.js') }}"></script>
        <script src="{{ url_for('static', filename='/sound-explorer/static/js/787.5713ed2d.chunk.js.map') }}"></script>
        <script src="{{ url_for('static', filename='/sound-explorer/static/js/main.78e0a3fe.js') }}"></script>
        <script src="{{ url_for('static', filename='/sound-explorer/static/js/main.78e0a3fe.js.map') }}"></script>
    </body>