{% extends "layout.html" %}

{% block title %}
    feeling warm
{% endblock title %}

{% block head %}

<link href="./css/weatherblanket.css" rel="stylesheet">

{% endblock head %}

{% block main %}
<script src="{{ url_for('static', filename='js/colorscale.js') }}"></script>

<canvas id="threeBlanket" class="three"></canvas>

<div id="keybox" onmouseover="hideText()" onmouseout="showText()">
    <div id="temp-key" class="blanket-key"></div>
    <div id="precip-key" class="blanket-key"></div>
    <div id="key-icon"></div>
    <div id="temp-degrees-box">
        <p id="zerodeg" class="units">0</p>
        <p id="twentydeg" class="units">20&deg;F</p>
        <p id="fourtydeg" class="units">40&deg;F</p>
        <p id="sixtydeg" class="units">60&deg;F</p>
        <p id="eightydeg" class="units">80&deg;F</p>
        <p id="hundreddeg" class="units">100&deg;F &plus;</p>
    </div>
    <div id="precip-mm-box">
        <p id="twentyfiveprecip" class="units"></p>
        <p id="fiftyprecip" class="units"></p>
        <p id="seventyfiveprecip" class="units"></p>
        <p id="maxprecip" class="units"></p>
    </div>
    <div id="temp-tic-box">
        <hr id="zerotic" class="temptics">
        <hr id="tentic" class="temptics">
        <hr id="twentytic" class="temptics">
        <hr id="thirtytic" class="temptics">
        <hr id="fourtytic" class="temptics">
        <hr id="fiftytic" class="temptics">
        <hr id="sixtytic" class="temptics">
        <hr id="seventytic" class="temptics">
        <hr id="eightytic" class="temptics">
        <hr id="ninetytic" class="temptics">
        <hr id="hundredtic" class="temptics">
    </div>
    <div id="precip-tic-box">
        <hr id="precip-tic25" class="preciptics">
        <hr id="precip-tic50" class="preciptics">
        <hr id="precip-tic75" class="preciptics">
        <hr id="precip-tic100" class="preciptics">
    </div>
</div>

<div id="blankets">

    <div id="heatblanket">
    
        <div id="texturebox">

            <script type="text/javascript">

                var dayNum = '{{ daynum }}';
                var fulltable = JSON.parse('{{ fulltable|tojson|safe }}');
                
                for(let i = 0; i < dayNum; i++){

                    heatBar = document.createElement('div');
                    divIDName = 'day'+i;

                    heatBar.setAttribute('id', divIDName);
                    heatBar.setAttribute('class', 'blanket-column');

                    highColor = heatcolorScale(fulltable[i][1]);
                    lowColor = heatcolorScale(fulltable[i][2]);

                    heatBar.style.backgroundImage = `linear-gradient(${highColor}, ${lowColor})`;
                    document.getElementById("texturebox").appendChild(heatBar);
                }

            </script>

        </div>

    </div>

    <div id="rainblanket">
        
        <div id="rainbox">

            <script type="text/javascript">

                function hideText(){
                    document.getElementById("blankettext").style.opacity = '0%'
                }
                function showText(){
                    document.getElementById("blankettext").style.opacity = '100%'
                }

                // Variable of the half-width of each column, used for rounding corners
                var halfwidth = ((.8*(window.innerWidth))/(dayNum * 2)) + 'px'
                var maxRain = '{{ max_rain }}'

                for(let i = 0; i < dayNum; i++){
                    rainBar = document.createElement('div');
                    divIDName = 'day'+i;
                    rainBar.setAttribute('id', divIDName);
                    rainBar.setAttribute('class', 'blanket-column');
                    rainBar.setAttribute('align', 'left');
                    rainCoef = raincolorScale(fulltable[i][3], maxRain);
                    lowTemp = fulltable[i][2];
                    lowColor = heatcolorScale(lowTemp);
                    rainBar.style.backgroundImage = `linear-gradient(${lowColor} 60%, #2c48b8)`;

                    // Create invisible placeholder divs or drips of representative length
                    if (rainCoef == 0){
                        rainBar.style.height = '1px'
                        rainBar.style.opacity = '0%'
                    }
                    else {
                        rainBar.style.height = (rainCoef * 100) + '%'
                    }

                    // Round bottom ends of drips
                    if (rainCoef !== 0){
                        rainBar.style.borderBottomLeftRadius = halfwidth
                        rainBar.style.borderBottomRightRadius = halfwidth
                    }

                    document.getElementById("rainbox").appendChild(rainBar)
                }

                var precip25 = document.getElementById("twentyfiveprecip")
                    precip25.style.top = '25%';
                    precip25.innerHTML = rainmmConvert(.25, maxRain);
                var precip50 = document.getElementById("fiftyprecip")
                    precip50.style.top = '50%';
                    precip50.innerHTML = rainmmConvert(.50, maxRain);
                var precip75 = document.getElementById("seventyfiveprecip")
                    precip75.style.top = '75%';
                    precip75.innerHTML = rainmmConvert(.75, maxRain);
                var precip100 = document.getElementById("maxprecip")
                    precip100.style.top = '100%';
                    precip100.innerHTML = rainmmConvert(1, maxRain);
                
            </script>

        </div>
        
        <div id="blankettext"><p>This is an artistic representation of temperatures and precipitation levels in 
            Austin, TX during 2022. The color of the bars correspond to the maximum daily temperature (at the top)
            and the minimum daily temperature (at the bottom). The drips below the bars indicate precipitation levels
            for that day. The visual will automatically add one column for each day of the year. Try hovering over the
            key on the left side of the screen for more info!</p>
            <p>This visual is best viewed on desktop or in landscape-mode.</p>
        </div>

    </div>

</div>

    <script src="{{ url_for('static', filename='./js/weatherblanket.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='./js/three.min.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='./js/DragControls.js') }}" type="module">
        import { DragControls } from '../static/js/DragControls.js'
    </script>
    <script src="{{ url_for('static', filename='./js/threeBlanket.js') }}" type="module"></script>

</div>

{% endblock main %}

{% block footer %}

<!-- <div id="threeBtn">
<input type="checkbox" id="threeCheckbox" name="threeCheckbox" onclick="enable3D()">
    <label for="threeBtn">Enable three.js</label>
</div>
<br /> -->
<a href="https://three-vinyl.herokuapp.com/" target="_blank" rel="noopener noreferrer">Click Here for React-Three-Fiber Version</a>
<br />
<br />
<a href="/">home</a>
|
{% endblock footer %}